:root {
  --brand-gradient: linear-gradient(
    90deg,
    #FF5722 0%,
    #D81B7E 50%,
    #7C3AED 100%
  );
}

/*for Button */
.brand-gradient {
  background: var(--brand-gradient);
}

/*for Gradient text */
.brand-gradient-text {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}